html {
    height: 100%;
}

body {
    font-family: 'Noto Sans',
                 'Noto Sans JP';
    height: 100%;
    margin: 0;
}

.wf-loading {
    visibility: hidden;
}

.wf-active, .wf-inactive {
    visibility: visible;
}

#container {
    width  : 100%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items    : center;
}

#visionclock {
    width : 100%;
    height: 60%;
}
